.password-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border: 1px solid #000000;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    background-color:  #ffffff;
  }
  
  .password-generator h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .password-generator .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .password-generator label {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    cursor: pointer;
  }
  
  .password-generator input[type='checkbox'] {
    margin-right: 5px;
  }
  
  .password-generator button {
    background-color: #3d3c3d;
    color: white;
    border: rgb(0, 0, 0);
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .password-generator button:hover {
    background-color: #2a292a;
  }
  
  .password-generator p {
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
  }
  
  
  .password-generator .password-output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 40px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 0 0.5rem;
  }
  
  .password-generator .password-output button {
    background-color: #3d3c3d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .password-generator .password-output button:hover {
    background-color: #2a292a;
  }
  
  
  .password-generator .password-output button.copied {
    background-color: #3d3c3d; /* A green color */
  }
  
  .password-generator .password-output button.copied:hover {
    background-color: #2a292a; /* A slightly darker green color */
  }